      @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "JetBrains Mono", monospace;
        list-style: none;
      }
      html,body{
        overflow-x: hidden;
      }
      a {
        text-decoration: none;
        color: white;
      }
      :root {
        --primary-bg-color: rgb(26, 24, 24);
        --primary-color: #fff;

        --secondry-bg-color: black;
        --speacial-color: rgb(243, 243, 43);
      }
      .pbgc {
        background-color: var(--primary-bg-color);
      }
      .sbgc {
        background-color: var(--secondry-bg-color);
      }
      .pc {
        color: var(--primary-color);
      }
      .overview {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 0px;
        margin: 0px 20px;
        border-radius: 2rem;
      }
      .my-nav {
        overflow: hidden;
        height: 400px;
        border: 3px solid rgb(240, 199, 17);
      }
      .my-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* width: 100%; */
      }
      .my-nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 2px;
        /* width: 100%; */
        padding: 0px 35px;
      }
      .my-nav ul li:hover {
        background-color: var(--secondry-bg-color);
        color: black;
        cursor: pointer;
      }
      .about-tick{
        display: flex;
        gap: 10px;
      }
      .about-tick h6 img{
        height: 20px;
      }
      .about-info{
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 10px;
        border: 1px solid rgb(139, 132, 132);
        background: var(--primary-bg-color);
        border-radius: 10px;
        margin: 10px 0px;
        padding: 8px 10px;

      }
    .my-email{
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 10px;
      }
     .my-email .info{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        column-gap: 20px;
        font-size: 14px;
      }
      .my-email i{
        background-color: #fde71c;
        color: black;
        padding: 8px;
        border-radius: 50%;
      }
      .about-img{
        position: relative;
      }
      .frontend{
        border: 2px solid rgba(31, 10, 228, 0.7);
        width: 220px;
        padding: 8px 10px;
        border-radius: 1rem;
        background-color: #fcf6f6;
        color: black;
        position: absolute;
        top: 45%;
        left: -7%;
      }
      .backend{
        border: 2px solid rgba(31, 10, 228, 0.7);
        width: 220px;
        padding: 8px 10px;
        border-radius: 1rem;
        background-color: #fcf6f6;
        color: black;
        position: absolute;
        top: 60%;
        left: -20%;
      }
      .frontend img,.backend img{
        cursor: pointer;
      }
      .details{
        display: flex;
        justify-content: start;
        gap: 10px;
      }
      .my-card img{
        height: 35px;
        cursor: pointer;
      }
      .my-card{
        /* border: 3px solid rgb(7, 7, 7); */
         display: flex; 
        justify-content: space-around;
        align-items: start;
        border-radius: 2rem; 
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
        transition: transform 1s;
      }
      .my-card:hover{
            transform:scale(0.8,0.8) ;
      }
      .middle h6{
        color: yellow;
      }
      .middle p{
        color: gray;
      }
      .my-skills{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 0px;
        border-radius: 10px;
        transition: transform 1s;
        background: var(--primary-bg-color);
        box-shadow: 0px 0px 20px rgba(46, 43, 43, 0.8);
      }
      
      .project-info a img{
        border: 1px solid red;
        width: 40px;
        background-color: #fff;
        border-radius: 50%;
        transition:transform 1s ;
      }
      .project-info a img:hover{
        transform: scale(1.2,1.2);
      }
      .arrow{
        border: 1px solid yellow;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        transition: 1s all;
      }
      .arrow:hover{
        background-color: yellow;
        color: black;
        transform:translateY(-5px) scale(1.2,1.2) ;
      }
      .my-feedback-card{
        background-color: var(--primary-bg-color);
        color: var(--primary-color);
        padding: 10%;
      }

      .card-img-top img{
        transform: scale(1.3,1.3);
      }
      .my-form input{
        background-color: var(--primary-bg-color);
        color: #fff;
        font-size: 13px;
      }
      .my-form input::placeholder{
        color: #696767;
        font-size: 13px;
      }
      .my-form textarea{
        background-color: var(--primary-bg-color);
        font-size: 13px;
      }
      .my-form textarea::placeholder{
        color: #696767;
        font-size: 13px;
      }
      .quick-links .my-quick-links{
        font-size: 14px;
        color: rgb(187, 209, 202);
        transition: 1s all;
      }
      .quick-links .my-quick-links:hover{
        transform: translateY(-10px);
      }
      .simple-form span input{
        background-color: var(--secondry-bg-color);
        border: none;
        outline: none;
        color: #fff;
        font-size: 12px
      }
      .addr {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
      }
      .addr p{
        display: flex;
        gap: 10px;
        font-size: 14px;
        justify-content: start;
        align-items: center;
      }
      .addr p i{
        color: yellow;
      }
      .social-links{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .rights{
        font-size: 13px;
      }

      .social-links .social-item{
        transition: 1s all;
      }
      .social-links .social-item:hover{
        transform: scale(1.2,1.2);
      }
      .social-links .social-item a{
        font-size: 13px;
      }
      .social-links li a:hover{
        color: yellow;
      }
     .nav-link{
      transition: 1s all;
     }
     .nav-link:hover{
      transform: translateY(-8px) scale(1.2,1.2);
     }
    .mood{
       width: 40px;
       height: 40px;
       cursor: pointer;
       border: 1px solid rgb(217, 240, 9);
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
    }

/* light mood */
.light-mood{
  background-color: #fff;
  color: black;
}

.home-btn{
  height: 40px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  background-color: yellow;
  color: black;

} 
